<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinner</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/css/style_diets.css">
    <link rel="shortcut icon" href="../../static/css/images/favicon.ico" type="image/x-icon">
</head>
<body>

    <div class="bg">
        <div class="overlay">
            <div class="content-container">
                <div class="meal-container" data-meal="dinner">
                    <!-- Isso vai para o backend depois -->
                    <div class="user-food-profile">
                        <h4 id="dinner">Dinner Preview</h4>
                        <input type="date" id="date-selector" class="date-selector" value="">
                        <button class="button-style" id="btn-date">Search</button>
                        <ul class="food-list" id="foodlist"></ul>
                        <a class="button-style" href="diets.html" role="button" id="back">Back</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap JS and dependency (jQuery & Popper.js) -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
<script src="../../static/js/viewdiet.js"></script>
</body>
</html>