body, html {
    height: 100%;
    margin: 0;
}

.bg {
    background-image: url('images/image.webp');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-custom {
    background-color: green; /* Similar green color as before */
    border-color: green;
    color: white;
}

.btn-custom:hover {
    background-color: darkgreen;
    border-color: darkgreen;
    color: white;
}